/* IMPORTED FONT */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --dark-magenta: hsl(300, 43%, 22%) ;
    --pink: hsl(333, 80%, 67%);
    --gray-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

}
body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}
/* HEADINGS and TEXT */
h1{
    color: var(--dark-magenta);
    font-weight: 700;
    text-align: center;
    width: 90%;
    font-size: 3rem;
    margin-bottom: .5rem;
}
h2{
    color: var(--white);
    font-weight: 700;
    font-size: 1.25rem;
}
h3{
    color: var(--pink);
    font-weight: 400;
}
.description{
    font-size: 1.19rem;
    line-height: 22px;
    margin: 1rem 0;
    color:var(--gray-magenta);
    width: 100%;
    text-align: center;
}
/* CONTAINER */
.container{
    min-height: 100vh;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
/* STAR CONTAINER */
.star-container{
    width: 100%;
}
/* STAR CARD */
.star-card{
    background-color: var(--light-magenta);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .75rem 0;
    padding: .75rem;
    border-radius: 4px;
}
/* STAR GROUP */
.star-group{
    display: flex;
    gap: 6px;
}
.rating{
    margin-top: .75rem;
    font-weight: 600;
    color: var(--dark-magenta);
}

.review-container{
    width: 100%;
}
/* REVIEW CARD */
.card{
    background-color: var(--dark-magenta);
    margin: .8rem 0;
    padding: 2rem;
    width: 100%;
    border-radius: 6px;
}
/* REVIEW TOP CONTENT */
.card-top{
    display: flex;
}
.card-top img{
    width: 13%;
    border-radius: 50%;
    
}
.heading-container{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    gap: 4px;
}
.quote{
    margin-top: 1.5rem;
    color: var(--white);
    line-height: 22px;
    word-spacing: 1.2px;
}
span{
    margin: 1rem 0;
}

/* DESKTOP VERSION */
@media screen and (min-width: 767px) {
    .top{
        display: flex;
        flex-direction: row;
    }
    .top-container{
        width: 80%;
        margin-right: 2rem;
    }
    h1{
        text-align: left;
        width: 70%;
        font-size: 3.4rem;
    }
    .description{
        text-align: left;
        width: 85%;
    }
    .rating{
        font-weight: 700;
        font-size:1.1rem;
    }
    .review-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 100%;
        margin-top: -1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .star-card{
        width: 60%;
        display: flex; 
        flex-direction: row;
        gap: 1rem;
    }
    .card{
        width: 30%;
    }
    .card img{
        width: 15%;
    }
    /* ADDED SPACING FOR STAGGER EFFECT ON STAR CARDS */
    .one{
        margin-left: 2rem;
    }
    .two{
        margin-left: 6rem;
    }
    .three{
        margin-left: 10rem;
    }
    /* STAGGER SPACING FOR REVIEW CARDS */
    .stagger-one{
        margin-top:1rem;
        height: 15rem;
    }
    .stagger-two{
        margin-top:2.5rem;
        height: 15rem;
    }
    .stagger-three{
        margin-top:4rem;
        height: 15rem;
    }
}